nginx-contanier:
  build: ./nginx/
  ports:
    - "80:80"
    - "443:443"
  links:
    - phpfpm-container:phpfpm
    - redis-container:redis
  volumes:
    - ./nginx/etc/nginx/html:/etc/nginx/html

phpfpm-container:
  build: ./phpfpm/
  volumes:
    - ./nginx/etc/nginx/html:/etc/nginx/html
  links:
    - redis-container:redis

redis-container:
  image: redis
